:root{
    --blanco:#ffffff;
    --oscuro:rgb(33,37,41);
    --primario: #efb810;
    --tono_1amarillo:  #febe48;
    --secundario:#0097a7;
    --grisclaro:#DFE9F3;
    --rojo:#e24343;
    --gris:#757575fb;
    --fuente-principal: 3.8rem;
}
/*esto es un comentario*/
/*-- para un acceso mas rapido = alt + shift + A */

p{
    color: var(--blanco);
}

.text-inicio{
    color: var(--blanco);
    background-color: #0000005e;
    font-weight:bold;
    text-align: center;
}


.ha1{
    text-align: center;
    color: var(--blanco);
    position: relative;
    top: 70px;
    background-color:black; 
}

.ha2 {
    text-align: center;
    color: var(--oscuro);
    background: var(--tono_1amarillo);
}

body{
    font-size: 16px;
    font-family: 'krub', sans-serif; 
    background-image: linear-gradient(to top, rgb(58, 58, 58) 0%, var(--oscuro) 100% );
}

.btn1{
    color: var(--oscuro);
    background-color: var(--oscuro);
}

.img-fluid{
    height:auto;
}


.titulo1 {
    font-size: 3rem;
    text-align: left;  
    color: var(--primario);  
    display: flex; 
    text-align: center;
}


.contenido-hero{
    position: absolute;
    /* background-color: rgba(0,0,0,0.164);
    background-color: rgb(0 0 0 / 30%);  */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%; 
    
}

.contenedor-hero .modelo11{
    display: flex;
    align-items: flex-end;
}  

.logo2{
    width: 150px;
    height: 150px;
    background-image: url(../img/LogoU.jpg);
    background-size: cover;
    border-radius: 50%;
    margin: 0 auto;
}

.flex-sm-fill{
    text-align: center;
    color: var(--primario);
    
} 
.nav-link:hover{
    color: white;
}




 /**FINALIZA LA TABLA CLASES CURSADAS**/



/* arreglo para img de informacion */
.universidad__imagen{
    height: 26%; 
    width: 50%;
    position: relative;
    left: 25%; 
    
}

.carousel-img{
    height: 26rem;
    margin-top: 7rem; 
}

.pago{
    position: relative; 
    margin-bottom: 7rem;
    margin-top: 7rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: var(--tono_1amarillo);
    padding: 1.3rem;
    max-width: 25em;
    font-weight: bold;
    border-radius: 0.5em;
    box-shadow: inset 1px 1px 22px 4px rgba(0, 0, 0, 0.85) ;
} 
.container thead th{
    background-color: var(--tono_1amarillo);
    font-weight: bold;
    text-align: center;
 font-size:  20px;
    
}
.container tbody tr{
    background-color: white;
    color: black;
    font-size:  20px;
    text-align: center;
    font-weight: bold;
    
    
}
.container{
    margin-top: 7rem;
    margin-bottom: 3rem;
    
}
@media (max-width:450px){
    .container thead th{
        background-color: var(--tono_1amarillo);
        font-weight: bold;
        text-align: center;
     font-size:  8px;
        
    }
    .container tbody tr{
        background-color: white;
        color: black;
        font-size:  8px;
        text-align: center;
        font-weight: bold;
        
        
    }
    .container{
        margin-top: 7rem;
        margin-bottom: 3rem;
        
    }
    .ha1 {
        font-size: 15px;
    }
}

